<% this.each(function(current) { %>
	<li class="message" <%= (el) -> el.data('message', current) %>>
    <span><%= current.attr('name') %></span>: <span><%= current.attr('message') %></span>
	</li>
<% }) %>