<html>
	<h2>Conversation</h2>
	<div class="convo"> 
		<ul id='messages'></ul>
	</div>

	<form id='create-message' action=''>
		<input type="text" id="body"/>
		<input type="submit" name="Create"/>
	</form>	

	<script id="messageEJS" type="text/ejs">
  		<% this.each(function(message){ %>
  			<li><%= message.body %></li>
  		<% }) %>
	</script>

	<script src='/socket.io/socket.io.js'></script>
	<script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
	<script src='http://canjs.us/release/latest/can.jquery.js'></script>
	<script src='chat.js'></script>
</html>