<h3>New message as <%= this.username %></h3>
<input type='hidden' name='name' id='name' value='<%= this.username %>'/>
<textarea name='message' id='message'/></textarea>
<p><input type='submit' value='Create'/></p>